/*HEADLINE COMPONENT*/

.headline{
  margin:auto;
  text-align: center;
}
.logo{
  width:30px;
  height:46px;
  background-color: rgb(102, 125, 175);
  display:inline-block;
  margin-right:30px;
}
.headline h1{
  display:inline-block;
  font-size: 4em;
}

/*INPUT COMPONENT*/

.inputComp{
  margin: auto;
  text-align: center;
  height:130px;
}
.inputComp input{
  margin-top:40px;
  font-size: 2em;
  margin-right: 10px;
}
.inputComp button{
  margin-top:40px;
  font-size: 2em;
  background-color:rgb(102, 125, 175);
}

/*DISPLAY COMPONENT*/

.display{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 660px;
  margin: auto;
  margin-top:50px;
  
}

.display .box{
  width: 140px;
  height: 100px;
  text-align: center;
  background-color:rgb(102, 125, 175);
  margin:10px;
  padding-top: 45px;
  box-sizing: border-box;
}

.display .box p{

  display: inline;
  font-weight: bold;
  color:white;
  text-align: center;
  font-size: 1em;
}


/*this next part is just for us to see the component better while*/
/*buidling it*/

.headline{
  outline: 1px lightgrey solid;
  outline-offset:-20px;
}

.inputComp{
  outline: 1px rgb(152, 198, 212) solid;
  outline-offset:-20px;
}

.display{
  outline: 1px lightgrey solid;
  outline-offset:30px;
}

.App{
  background-color: white
}
